LMTVision/Web References/BPFWeb/Eqp_BPF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckInputTray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCoatingTrayNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEqpNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dtNow" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInputTrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckInputTrayResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOutputTray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCoatingTrayNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEqpNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOutputTrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckOutputTrayResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoFinish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrLensBarcode">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sOutputLot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEqpNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sProduct" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dtNow" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="sBpfLot" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoFinishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoFinishResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrLensBarcode" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sOutputLot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEqpNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sProduct" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dtNow" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="sBpfLot" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckInputTraySoapIn">
    <wsdl:part name="parameters" element="tns:CheckInputTray" />
  </wsdl:message>
  <wsdl:message name="CheckInputTraySoapOut">
    <wsdl:part name="parameters" element="tns:CheckInputTrayResponse" />
  </wsdl:message>
  <wsdl:message name="CheckOutputTraySoapIn">
    <wsdl:part name="parameters" element="tns:CheckOutputTray" />
  </wsdl:message>
  <wsdl:message name="CheckOutputTraySoapOut">
    <wsdl:part name="parameters" element="tns:CheckOutputTrayResponse" />
  </wsdl:message>
  <wsdl:message name="DoFinishSoapIn">
    <wsdl:part name="parameters" element="tns:DoFinish" />
  </wsdl:message>
  <wsdl:message name="DoFinishSoapOut">
    <wsdl:part name="parameters" element="tns:DoFinishResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="Eqp_BPFSoap">
    <wsdl:operation name="CheckInputTray">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">贴BPF入料tray上机前检查是否符合生产规范</wsdl:documentation>
      <wsdl:input message="tns:CheckInputTraySoapIn" />
      <wsdl:output message="tns:CheckInputTraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckOutputTray">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">贴BPF出料tray上机前检查是否符合生产规范</wsdl:documentation>
      <wsdl:input message="tns:CheckOutputTraySoapIn" />
      <wsdl:output message="tns:CheckOutputTraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoFinish">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">贴BPF机完成工作时</wsdl:documentation>
      <wsdl:input message="tns:DoFinishSoapIn" />
      <wsdl:output message="tns:DoFinishSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">贴BPF机完成工作时</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Eqp_BPFSoap" type="tns:Eqp_BPFSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckInputTray">
      <soap:operation soapAction="http://tempuri.org/CheckInputTray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOutputTray">
      <soap:operation soapAction="http://tempuri.org/CheckOutputTray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoFinish">
      <soap:operation soapAction="http://tempuri.org/DoFinish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Eqp_BPFSoap12" type="tns:Eqp_BPFSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckInputTray">
      <soap12:operation soapAction="http://tempuri.org/CheckInputTray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOutputTray">
      <soap12:operation soapAction="http://tempuri.org/CheckOutputTray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoFinish">
      <soap12:operation soapAction="http://tempuri.org/DoFinish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Eqp_BPF">
    <wsdl:port name="Eqp_BPFSoap" binding="tns:Eqp_BPFSoap">
      <soap:address location="http://192.168.21.6/MESWS/Assembly/Eqp_BPF.asmx" />
    </wsdl:port>
    <wsdl:port name="Eqp_BPFSoap12" binding="tns:Eqp_BPFSoap12">
      <soap12:address location="http://192.168.21.6/MESWS/Assembly/Eqp_BPF.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>